<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link th:href="@{/static/css/bootstrap.min.css}" href="static/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/static/css/bootstrap.rtl.css}" href="static/css/bootstrap.rtl.css" rel="stylesheet">
    <link th:href="@{/static/css/docs.css}" href="static/css/docs.css" rel="stylesheet">
    <link th:href="@{/static/css/daterangepicker.css}" href="static/css/daterangepicker.css" rel="stylesheet">

    <script th:src="@{/static/js/bootstrap.bundle.min.js}" src="static/js/bootstrap.bundle.min.js" ></script>
    <script th:src="@{/static/js/jquery.min.js}" src="static/js/jquery.min.js" ></script>
    <script th:src="@{/static/js/moment.min.js}" src="static/js/moment.min.js" ></script>
    <script th:src="@{/static/js/daterangepicker.min.js}" src="static/js/daterangepicker.min.js" ></script>

    <title>资源加载统计</title>
    <script>
        $(function() {
            $('input[name="daterange"]').daterangepicker({
                "timePicker": true,
                "timePickerSeconds": true,
                "alwaysShowCalendars": true,
                "startDate": moment(),
                "endDate": moment(),
                "locale": {
                    format: 'YYYY-MM-DD HH:mm:ss'
                }
            }, function(start, end, label) {
                console.log('New date range selected: ' + start.format('YYYY-MM-DD') + ' to ' + end.format('YYYY-MM-DD') + ' (predefined range: ' + label + ')');
            });

            $('button[name="download"]').click(function() {
                window.open("resDownload", '_blank');
            });
        });
    </script>

    <style type="text/css">
        .col-l1 {
            flex: 0 0 auto;
            width: 6%;
        }
        .col-l2 {
            flex: 0 0 auto;
            width: 8%;
        }
        .bd-navbar {
            padding: .75rem 0;
            background-color: #7952b3;
        }
    </style>

    <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<!-- 导航栏 -->
<nav th:insert="nav :: nav">

</nav>

<nav class="bd-subnavbar p-3">
    <h1>资源加载统计</h1>
</nav>

<!-- 查询 -->
<nav class="bd-subnavbar" aria-label="Secondary navigation">
    <form class="px-3 pt-3" th:action="@{/res}">
        <div class="container me-0 pe-0">
            <div class="row">
                <div class="col-l1">
                    <div class="pt-2">玩家id</div>
                </div>
                <div class="col-2">
                    <input type="text" class="form-control" placeholder="玩家id" aria-label="玩家id" name="uid" th:value="${uid}">
                </div>
                <div class="col-l2">
                    <div class="pt-2">查询时段</div>
                </div>
                <div class="col-4">
                    <input type="text" class="form-control" name="daterange" />
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-3">查询</button>
                    <button type="button" class="btn btn-primary mb-3" name="download">下载</button>
                </div>
            </div>
        </div>
    </form>
</nav>


<!-- 结果 -->
<table class="table table-striped table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">玩家id</th>
        <th scope="col">等级</th>
        <th scope="col">资源</th>
        <th scope="col">资源大小</th>
        <th scope="col">开始时间</th>
        <th scope="col">结束时间</th>
        <th scope="col">耗时</th>
        <th scope="col">请求次数</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="res : ${session.resources}">
        <th th:text="${resStat.count}" scope="row">1</th>
        <td th:text="${res.uid}">uid</td>
        <td th:text="${res.lvl}">1</td>
        <td th:text="${res.res}">/test/a.png</td>
        <td th:text="${res.resSize}">1k</td>
        <td th:text="${#dates.format(res.startTime, 'yyyy-MM-dd HH:mm:ss')}">2020-01-01 00:00:00</td>
        <td th:text="${#dates.format(res.endTime, 'yyyy-MM-dd HH:mm:ss')}">2020-01-02 00:00:00</td>
        <td th:text="${res.dt}">1m</td>
        <td th:text="${res.requestCount}">1</td>
    </tr>
    </tbody>
</table>

</body>
</html>